<?xml version="1.0"?>
<launch>
  <!-- Launch the mapping node -->
  <node name="gmapping" pkg="gmapping" type="slam_gmapping">
    <param name="xmin" value="-9"/>
    <param name="xmax" value="9"/>
    <param name="ymin" value="-4"/>
    <param name="ymax" value="13"/>
    <remap from="scan" to="laser/scan"/>
  </node>

  <!-- Visualize in RViz -->
  <node name="rviz" pkg="rviz" type="rviz"
        args="-d $(find autonomous_navigation)/rviz/gmapping.rviz"/>

</launch>
